<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <section>
    <h2>Lista de Productos</h2>
    <a th:href="@{/productos/nuevo}">Nuevo Producto</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
      <tr th:each="p : ${productos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nombre}"></td>
        <td>
          <a th:href="@{'/productos/editar/' + ${p.id}}">Editar</a> |
          <a th:href="@{'/productos/eliminar/' + ${p.id}}">Eliminar</a>
        </td>
      </tr>
    </table>
  </section>
</html>
