<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <section>
    <h2>Lista de Facturas</h2>
    <a th:href="@{/facturas/nueva}">Nueva Factura</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Cédula</th>
        <th>Cliente</th>
        <th>Mes</th>
        <th>Fecha</th>
        <th>Proveedor</th>
        <th>Producto</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      <tr th:each="f : ${facturas}">
        <td th:text="${f.id}"></td>
        <td th:text="${f.cedula}"></td>
        <td th:text="${f.cliente}"></td>
        <td th:text="${f.mes}"></td>
        <td th:text="${f.fechaFactura}"></td>
        <td th:text="${f.proveedor.nombre}"></td>
        <td th:text="${f.producto.nombre}"></td>
        <td th:text="${f.estado}"></td>
        <td>
          <a th:href="@{'/facturas/editar/' + ${f.id}}">Editar</a> |
          <a th:href="@{'/facturas/eliminar/' + ${f.id}}">Eliminar</a>
        </td>
      </tr>
    </table>
  </section>
</html>
