<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <section>
    <h2>Lista de Proveedores</h2>

    <a th:href="@{/proveedores/nuevo}">Nuevo Proveedor</a>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="proveedor : ${proveedores}">
          <td th:text="${proveedor.id}"></td>
          <td th:text="${proveedor.nombre}"></td>
          <td>
            <a th:href="@{|/proveedores/editar/${proveedor.id}|}">Editar</a> |
            <a
              th:href="@{|/proveedores/eliminar/${proveedor.id}|}"
              onclick="return confirm('¿Seguro que desea eliminar este proveedor?');"
              >Eliminar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</html>
