<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <section>
    <div class="text-center">
      <h1 class="mb-4">Bienvenido al Sistema de Registro DB</h1>
      <p>Seleccione una opción para gestionar datos:</p>

      <div class="d-grid gap-3 col-6 mx-auto">
        <a class="btn btn-primary btn-lg" th:href="@{/proveedores}"
          >Gestionar Proveedores</a
        >
        <a class="btn btn-success btn-lg" th:href="@{/productos}"
          >Gestionar Productos</a
        >
        <a class="btn btn-info btn-lg" th:href="@{/facturas}"
          >Gestionar Facturas</a
        >
        <a class="btn btn-warning btn-lg" th:href="@{/facturas/reporte}"
          >Ver Reporte de Facturas</a
        >
      </div>
    </div>
  </section>
</html>
